<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.gitzx.testwidget">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme"
        android:hasCode="false">
        <meta-data android:name="com.gitzx.testwidget"
            android:value=".Main"/>
    </application>

    <uses-permission android:name="cydia.permission.SUBSTRATE"/>

</manifest>
